*{
  box-sizing: border-box;
}

h1{
  text-align: center;
}

p {
  background-color: #bfbfbf;
  border: 2px solid black;
  height: 150px;
  margin-right: 10px;
  padding: 40px 10px 5px 10px;
  overflow: hidden;
}


#container {
  position: relative;
  
}

#p1 {
  background-color: #D59898;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
#p2 {
  background-color:#C14543 ;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
#p3 {
 background-color: #E5D198;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}


.row {
  width: 100%;

}


/********** Large devices only **********/
@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
  }
 
  .col-lg-4 {
    width: 33.33%;
  
  }


  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6 {
    float: left;
   
  }
  
  .col-md-6 {
    width: 50%;
  }

}

/********** Mobile only **********/
@media (max-width: 767px) {
   .col-sm-12 {
    float: left;
  }
  
  .col-sm-12 {
    width: 100%;
  }

  
}